In [0]:
#find the factors of a given number
def factorslist(n):
  for i in range(1,n+1):
    if n%i==0:
      print(i,end=" ")
  return
factorslist(12)

1 2 3 4 6 12

[image](https://drive.google.com/open?id=1nczWlICeRk7MV9dnXc1IPAa55KE6g4kU)

In [0]:
#given number is prime number or not

def isprime(n):
  flag=True
  for i in range(2,n//2+1):
    if n%i ==0:
      flag = False
      return flag
  return flag
isprime(11)

True

[image](https://drive.google.com/open?id=1c-KZXzX4Zmiaapcyu2IYdeXXj0Up82RD)

In [0]:
#function to find prime numbers count from 1 to N
#10 -- 4(2,3,5,7)
def primeCount(n):
  cnt=0
  for a in range(2,n+1):
    k=0
    for i in range(2,a//2+1):
      if a%i==0:
        k=k+1
    if (k<=0):
      cnt = cnt +1
  return cnt
primeCount(10)

4

[image](https://drive.google.com/open?id=1hE5kH4_WCDCitRI_KnmaqfoL_AO_mQLO)

In [0]:
#Input : n
#output : yes or no
#yes- Individual digit factorial sum is same as original number
#no- otherwise
#example : 145-- 1! +4! + 5! = 1+24+120=145
def fact(a):
    
    f=1
    for j in range(1,a+1):
      f=f*j
    return f 

def digitFactSum(n):
    sum=0
    temp=n
    while(n>0):
        r=n%10
        sum=sum+fact(r)
        n=n//10
    
    if sum==temp:
      print("yes")
    else:
      print("no")
digitFactSum(145)

yes

In [0]:
#function to return the count of palindrome number two limits
def isPalindrome(n):
    rev = 0
    temp = n
    while n > 0 : 
        r = n % 10
        rev = rev * 10 + r
        n //= 10
    if rev == temp:
        print(rev,end=" ")
def Range(a,b):
  for i in range(a,b+1,1):
    isPalindrome(i)
    

def main():
  a= int(input("Enter starting range:"))
  b= int(input("Enter ending range:"))
  Range(a,b)

if __name__ == "__main__":
  main()

Enter starting range:10
Enter ending range:25
11 22

[Palindrome Main function](https://drive.google.com/open?id=1cU08u-OiXaOdGQlrp-w_ygDCwpqxfWEg)

[Palindrome Function](https://drive.google.com/open?id=1vduPH3k6f_523WfBWJQOCtz-uG8VJO-5)

In [0]:
#fuction to generate the perfect numbers in a given range
#perfect number: Sum of all its factors same as original number
#example: 6 -- 1 2 3(1+2+3)==6
#input 1 10
#output 6
def factorList(n):
  sum=0
  for i in range(1,n//2+1):
    if n%i == 0:
      sum = sum+i
  return sum

def Range(lb,ub):
  for i in range(lb,ub+1):
     if (i == factorList(i)):
        print(i,end=" ")
  return
Range(1,100)

6 28

###Programming in Python (strings)
-Strings

-Strings Slicing

-Fundamental Programming with String in Python

In [0]:
s1= "Python"
print(s1)
print(type(s1))

Python
<class 'str'>

In [0]:
s1 = "python"
print(s1[0]) #access the first character
print(s1[1]) #access the second scharacter
print(s1[5]) #last character
print(s1[len(s1)-1]) #Access the last character

p
y
n
n

In [0]:
print(s1[-1]) #another way of accessing the last character
print(s1[-2]) #another way of accessing the last second character
print(s1[0:2]) #access the first character
print(s1[:4]) #access from first to 4th
print(s1[-2:]) #access last 2 characters
print(s1[2:]) #access from second to last characters

n
o
py
pyth
on
thon

In [0]:
print(s1[1:-1])# printing all character except first and last
print(s1[len(s1)//2]) #middle of the string
print(s1[-1::-1]) #reverse of the stringst two characters 
print(s1[-1:-3:-1]) #access the lain reverse order
print(s1[::2]) #access the alternate  2 characters
print(s1[::3]) #access the alternate 3 characters
print(s1[::-1]) #from reverse order

ytho
h
nohtyp
no
pto
ph
nohtyp

In [0]:
def reverseString(str):
  return str[-1::-1]
reverseString("Programming")

'gnimmargorP'

In [0]:
def isPalindrome(str):
  if str == str[::-1]:
    return True
  else:
    return False
  return
print(isPalindrome("Python"))
print(isPalindrome("ganag"))

False
True

In [0]:
ord('A')

65

In [0]:
def printUpper(x):
  for i in range(len(x)):
    if ord(x[i]) >= 65 and ord(x[i]) <= 90:
      print(x[i],end =" ")
  return
printUpper("PyThon")

P T

In [0]:
# Function to print "Python" if the count of Upper and lower is same
# Print "Programming" if not same
# Example : PyThOn -- 3 P T O (Upper case) -- Python
#                     3 y h n (Lower case)
# PytHon -- P H (2)
        #--  y t o n (4) -- Programming
def findCount(str) :
    cntUpper = 0
    cntLower = 0
    for x in range (len(str)):
        if ord(str[x]) >= 65 and ord(str[x]) <= 90:
            cntUpper = cntUpper + 1
        elif ord(str[x]) >= 97 and ord(str[x]) <= 122:
            cntLower = cntLower + 1
    if cntUpper == cntLower:
        return "SameCount"
    else:
        return "Programming"
findCount("PyThOn")

'SameCount'

In [0]:
#extract digits from given string 
#example:
#input Applica1tion8s89
#output 1 8 8 9
def num(x):
  for i in range(len(x)):
    if ord(x[i]) >= 48 and ord(x[i]) <= 57:
      print(x[i],end =" ")
  return
num("Applica1tion8s89")

1 8 8 9

In [0]:
#function to return the sum of digits in a given string
#example:
#input Applica1tion8s89
#output 26(1+8+8+9)
def sumofDigits(x):
  sum=0
  for i in range(len(x)):
    if ord(x[i]) >= 48 and ord(x[i]) <= 57:
      sum=sum+int(x[i])
  print(sum)     
  return
sumofDigits("Applica8322n8s89")

40

In [0]:
#function to return the sum of digits in a given string
#example:
#input Applica1tion8s89
#output of even numbers 26(1+8+8+9)
def sumofDigits(x):
  sum=0
  for i in range(len(x)):
    if ord(x[i]) >= 48 and ord(x[i]) <= 57:
      if int(x[i])%2==0:
        sum=sum+int(x[i])
  print(sum)     
  return
sumofDigits("Applica8322n8s89")

28

In [0]:
#function to print the specific word in Upper case
#example:
#input:Python Made Easy
#output:Made
#input:Learn Python Programming
#output:PYTHON
def wordUpperCase(s):
  spaceCnt = 0
  for x in range(len(s)):
    if ord(s[x])==32:
      spaceCnt += 1 #spaceCnt = spaceCnt + 1
    if spaceCnt == 1:
      if ord(s[x])>=65 and ord(s[x])<=90:
        print(s[x],end="")
      elif ord(s[x])>=97 and ord(s[x]) <=122:
        print(chr(ord(s[x])-32),end="")
    if spaceCnt ==2:
      return
wordUpperCase("Python Made Easy")

MADE