# markdown basics
## markdown basics
### markdown basics
#### markdown basics
##### markdown basics

* **point1** (Bold)
* point2 (Italic)
* ***point*** (Bold And Italic)

* Normal Text
 * Sublist 1
 * Sublist 2
 
> 1.Point 1
> 2.point 2

* ***Adding Links To Markdown***

* google site -- [1]:https://www.ask.com/

* Msn site    -- [2]:https://www.ask.com/

- [] option1

* google site -- [google][1]
  [1]:https://www.ask.com/

In [1]:
print("Hello,Gitam")
print("HYDERABAD")

Hello,Gitam
HYDERABAD

In [2]:
print("Hello,Gitam","|||Hyderabad","|||python programming")

Hello,Gitam |||Hyderabad |||python programming

In [3]:
n1=100
a=b=c=20
a1,b1,c1=11,22,33
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
11 22 33

In [ ]:
### Data And Conversions
 . int
 . float
 . string

In [5]:
a=100;
s1 ="python"
s2 = 'p'
f1 = 10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [1]:
i=100
print(type(i))
s1 = str(i) 
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [2]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [3]:
#A number is given 1234 -
# Digit count
a1 = 1234
print(len(str(a1)))

4

In [4]:
# reading a value
# input("Message") -- string

In [6]:
s1 = input("Enter your name ")
print(s1)
print(type(s1))

Enter your name SATYA MANOJ
SATYA MANOJ
<class 'str'>

In [8]:
# Want number as a input 
n1 = int(input("Enter a number"))
print(n1,type(n1))

Enter a number1234
1234 <class 'int'>

In [ ]:
## Operators 
* operator is a symbol used to perform specific kind of operations
### Arithmatic Operators
* +
* /
* -
* *
* %
* //

In [9]:
n = 1234
print(n+10)
print(n-10)
print(n*10)
print(n/10)
print(n%10)
print(n//10)
print(n**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

In [ ]:
### Precdence of the Arth operations
- Paranthesis
- Power
- Multiplication
- Addition

In [12]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [13]:
 x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

In [14]:
### Relational operator
- ==
- !=
- greater(>)
- less than (<)
- less than or equals to (<=)
- greater than or equals to (>=)

SyntaxError: invalid syntax (<ipython-input-14-e63d2fc60e43>, line 2)

In [15]:
x = 10
a1 = x > 15
print(a1)

False

In [ ]:
Logical Operators
used to combine more than one single condition
- and 
- or 
- not

In [16]:
i = 100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### Control flow statements
- Conditional Statements
- Looping statements

#### if-else statements

**syntax**

if Boolean_condition
statements
else :
statements

In [17]:
# to chreck given number is even or odd
n = int(input("Enter a number"))
if n%2 == 0:
    print("EVEN")
else :
    print("ODD")

Enter a number12
EVEN

In [20]:
# to check given no is perfectly multiple of 3 & 5 
n=int(input("Enter a number"))
if n%3 == 0 and n%5 == 0:
    print("YES")
else:
    print("NO")

Enter a number15
YES

In [21]:
# test given number is positive , negative or zero
n = int(input("Enter a number"))
if n == 0:
    print("ZERO")
elif n > 0:
    print("Positive Number")
elif n < 0:
    print("Negative Number")

Enter a number0
ZERO